<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8">
    <title>Tasks</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/progress.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/md5.js}"></script>
    <script th:src="@{/js/log-in.js}"></script>
    <script th:src="@{/js/task-delete.js}"></script>
</head>
<body>
<header>

</header>

<main class="content mt-3 mb-3">
    <div class="card mx-auto" style="max-width: 35rem;">
        <div class="card-body justify-content-center">
            <form id="log-in-form" class="needs-validation" method="post" novalidate>
                <h3 class="text-center">Вход</h3>
                <hr/>
                <div class="form-group">
                    <label for="user-name">Введите логин (длина от 5 до 50 символов)</label>
                    <input id="user-name" type="text" class="form-control" placeholder="Логин" required>
                </div>
                <div class="form-group">
                    <label for="password">Введите пароль (не менее 8 символов)</label>
                    <input id="password" type="password" class="form-control" placeholder="Пароль" required>
                </div>
                <div>
                    <p id="info-text" style="font-size: 14px; color: darkred; display: none">
                        Некорректные данные, неверный логин или пароль
                    </p>
                </div>
                <div class="text-center">
                    <button id="btn-input" type="button" class="btn btn-outline-secondary my_btn">Войти</button>
                    <button id="btn-sign-in" type="button" class="btn btn-outline-secondary my_btn">
                        Зарегистрироваться
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer class="footer bg-secondary mt-3">
    <div class="footer-copyright text-center py-3 text-light">© 2019 Copyright: Vladislav Ovchinnikov</div>
</footer>

<div id="overlay" style="position: absolute; background-color: rgba(0, 0, 0, 0.5); display: none">
    <div id="progress" class="bubblingG">
    <span id="bubblingG_1">
    </span>
        <span id="bubblingG_2">
    </span>
        <span id="bubblingG_3">
    </span>
    </div>
</div>

</body>
</html>
