* {
    margin: 0;
    padding: 0;
}

html, body.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 65px;
}

footer {
    position: absolute;
    bottom: 0;
    min-height: 65px;
    min-width: 100%;
}

.navbar {
    min-height: 65px;
}

.my_btn {
    background-color: #E9ECEF;
    border-color: #E9ECEF;
}

.my_btn:hover {
    background-color: #a2a5a8;
    border-color: #a2a5a8;
    color: white;
}

.my_btn:active {
    background-color: #a2a5a8;
    border-color: #a2a5a8;
}

.my_btn_2 {
    background-color: white;
    border-color: #E9ECEF;
}

.my_btn_2:hover {
    background-color: #dcdfe2;
    border-color: #dcdfe2;
}

.my_btn_2:active {
    background-color: #bfc2c5;
    border-color: #bfc2c5;
}

.CodeMirror {
    font-family: Consolas, monospace;
    font-size: 14px;
    width: 100%;
    height: auto;
    line-height: 1em;
}

.CodeMirror-scroll {
    max-height: 750px;
}

#complexity-task .slider-selection {
    background: #BABABA;
}

.image-task {
    width: auto;
    height: 300px;
}

.img_wrap {
    width: auto;
    height: 300px;
}

.img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.task-image {
    display: block;
    width: auto;
    height: auto;
}

#overlay {
    background-color: rgba(0,0,0,0.1);
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 100;
}

.modal {
    z-index: 90;
}

.modal-backdrop {
    z-index: 80;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}